/PYLKVO.xcodeproj/project.xcworkspace/xcuserdata/yuleipang.xcuserdatad/UserInterfaceState.xcuserstate
/PYLKVO.xcodeproj/xcuserdata/yuleipang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/.DS_Store
